Type: 
<select name="type">
    <option value="boolean">真偽値型</option>
    <option value="integer">整数型</option>
    <option value="number">数値型</option>
    <option value="object">連想配列型</option>
    <option value="array">配列型</option>
    <option value="string">文字列型</option>
</select>

@code {

}
